.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  float: left;
  width: 22.8rem;
  max-height: 100%;
  left: 3rem;
  position: relative;
  top: 0.5rem;
}

.nav {
  float: right;
}

.nav ul {
  position: absolute;
  width: 600px;
  left: 70%;
  transform: translateX(-50%);
  background: rgb(248, 37, 111);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.nav li {
  display: inline-block;
  margin-left: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.photo {
  background-color: #ccc;
  height: 200px; 
}

.music-player {
  background: linear-gradient(to bottom right, #ff7f7f, #7fbfff);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause {
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.progress-bar {
  width: 200px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 15px;
  position: relative;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 1019px) {
  .logo {
    float: left;
    width: 19.8rem;
    left: 3rem;
    position: relative;
    top: 0.5rem;
  }

  .nav ul {
    position: relative;
    width: 720px;
    left: 10%;
    transform: translateX(-50%);
    background: rgb(248, 37, 111);
    margin-top: 20rem;
    padding: 1.625rem;
    border-radius: 5px;
  }

  .nav a {
    position: relative;
    right: -250%;
  }
}

@media screen and (min-width: 1200px) {

}